@model Geekopoly.Models.GameModel
@inject IJsonHelper Json;

<html>
<head>
    <link rel="stylesheet" href="site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/p5.js" asp-append-version="true"></script>
    <script src="~/js/Tile.js"></script>
    <script src="~/js/sketch.js"></script>
    <script src="~/js/Player.js"></script>
    <script src="~/js/category_class.js"></script>
    <script src="~/js/Counter.js"></script>
    <script src="~/js/Dice.js"></script>
    <script src="~/js/Decision.js"></script>

</head>

<body>
   
    <button id="roll" class="buttons">ROLL DICE </button>
    <button id="buy" class="buttons"disabled>BUY</button>
    <button id="upgrade" class="buttons"disabled>UPGRADE</button>
    <button id="ok" class="buttons"disabled>UNDERSTOOD</button>
    <button id="lucky6" class="buttons"disabled>TRY TO ROLL</button>
    <button id="pay_prison_penalty" class="buttons"disabled>PAY FOR FREEDOM</button>


    <a class="text" asp-action="Quit">Quit game</a>
    


</body>
</html>