@model Geekopoly.Models.GameModel
@inject IJsonHelper Json;

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/p5.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" asp-append-version="true"></script>
    <script src="~/js/Tile.js"></script>
    <link rel="stylesheet" href="~/css/tailwind.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/sketch.js"></script>
    <script src="~/js/Player.js"></script>
    <script src="~/js/category_class.js"></script>
    <script src="~/js/Counter.js"></script>
    <script src="~/js/Dice.js"></script>
    <script src="~/js/Decision.js"></script>
    



</head>

<body>

    <br />
    
    <br />
    <button id="roll">ROLL DICE </button>
    <button id="buy" style="margin-left: 30px;">BUY</button>
    <button id="upgrade" style="margin-left: 30px;">UPGRADE</button>
    <button id="ok" style="margin-left: 30px;">UNDERSTOOD</button>
    <button id="lucky6" style="margin-left: 30px;">TRY TO ROLL</button>
    <button id="pay_prison_penalty" style="margin-left: 30px;">PAY FOR FREEDOM</button>

    <br />
    <p>
        <a class="text" asp-action="Quit">Quit game</a>
    </p>


</body>
</html>