@model Geekopoly.Models.Player




<h2>Create New Board</h2>


<div class="form-group">
    @Html.LabelFor(model => model.name, "Name player 1")
    @Html.TextBoxFor(model => model.name, new { @class = "form-control", placeholder = "podaj tytul" })
    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
</div>



<div class="span12">
    <a href="/Boards/Game" class="Button">Submit</a>
</div>

