/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 10px;
    padding-bottom: 20px;
    padding: 10px;
    text-align: center;
    background-color: #130E32;
}

h2
{
    color:white;
    font-size:30px;

}
.control-label
{

    color:white;
    font-size:22px;
}
.text {
    background-color: darkgrey;
    color: white;
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-control {
    width: 300px;
    height:60px;
    text-align: center;
    margin: auto;
    display: block;
}
.text:link {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.text:visited {
    color: #fff;
    text-align: center;
}

.text:hover {
    color:aqua;
    
}

a.text:active {
    color:brown;
}
.playerName {
    padding-top: 30px;
}
.addName {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-top:30px;
    font-size: 30px;
    background-color: darkcyan;
    width: 200px;
    height: 60px;
}
    .addName:link {
        color: #fff;
        text-decoration: none;
        text-align: center;
    }

    .addName:visited {
        color: #fff;
        text-align: center;
    }

    .addName:hover {
        color: aqua;
    }

    .addName:active {
    color: brown;
    }
.play {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
    color: black;
    background-color: darkgrey;
    width: 150px;
    text-align:center;
    margin-top:3px;

    padding:7px;
    height: 40px;
}
.play:link {
    color:floralwhite;
    text-decoration: none;
    text-align: center;
}


.play:hover {
    color: red;
}

.play:active {
    color: brown;
}
.buttons {
    margin-left: 10px;

   
}