@model IEnumerable<Geekopoly.Models.Player>
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<link rel="stylesheet" href="site.css">



        @foreach (var item in Model)
        {
            
                    <a class="addName"asp-action="Edit" asp-route-id="@item.id_player">Add name</a>
                    <br/>
             
        }

<p>
    <a class="play" asp-action="GoToBoard">Play </a>
</p>