@model IEnumerable<Geekopoly.Models.Player>
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />

<table class="table">

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.id_player">Add name</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="text" asp-action="GoToBoard">Play </a>
</p>